* {
    margin: 0;
    padding-top: 0;
    max-width: 2400px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'raleway', sans-serif;
    margin: auto;  
}

#body-marge {
    width: 90%;
    margin: auto;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;    
}

.navbar ul {
    display: flex;
    padding: 2em;  
}

.navbar li a {
    padding: 30px;
}

.navbar li a:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;  
}

.navbar li {
    color: #0065FC;
}

.sign_up {
    color: #0065FC;
    font-weight: bold;
}

.sign_up:hover {
    border-bottom: #0065FC 2px solid;
}


/*TITRE*/

#section1 {
padding: 1em 0 1em 0;
}

h1 {
    padding-bottom: 0.2em;
}


/*BARRE DE RECHERCHE*/

#form {
    display: flex;
    font-size: 1rem;  
}

#localize__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border: 1px solid transparent;
    width: 50px;
    height: 45px;
    border-radius: 15px 0 0 15px;
}

#form input {
    font-size: 1rem;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    height: 47px;
    width: 100%;
    font-weight: bold;
    padding-left: 10px;
}

form button {
    width: 170px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: transparent;
    color: white;
    cursor: pointer;
    font-size: large;
}

.button-loupe {
    display: none;
}

/*FILTRES*/

#filters__container {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-wrap: wrap; 
}

#filters__title {
    margin-right: 25px;
    font-size: large;
    font-weight: bold;
}

.filters__button {
    display: flex;
    height: 48px;
    margin-left: 15px;
    padding-right: 45px;
    align-items: center;
    border: 2px #F2F2F2  solid;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

.filters__button:hover {
    background: #0065FC;
    color: white;
}

.filters__button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #deebff;
    border-radius: 50px;
    font-size: 20px;
    margin: -2px;
}

.filters__button--text {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
}

/*i Plus de 500 logements sont disponibles dans cette ville*/

#info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/*SECTION DES HEBERGEMENTS (containers)*/

#hosting__section {
    display: flex;
    margin-top: 50px;
}

#hosting__container--left {
    display: flex;
    flex: 66%;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 25px;
    margin-right: 60px;
    padding: 2em 2em 2em 2em;
}

#hosting__container--right {
    display: flex;
    flex-direction: column;
    flex: 31%;
    background: #F2F2F2;
    border-radius: 25px;
    padding: 2em 2em 2em 2em;
}

/*TITRE ET CARDS DE LA SECTION HEBERGEMENTS A MARSEILLE*/
#cards__container {
    display: flex;
    flex-wrap: wrap;

}
.card__container {
    flex: 28%;
    background-color: white;
    border-radius: 25px;
    margin: 20px 20px 20px 0;
    padding: 5px;
    box-shadow: 5px 5px 5px #dddddd;
    transition-property: transform;
    transition-duration: 400ms;
}

.card__container:hover {
    transform: scale(1.05);
}

.hosting__picture {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.figcaption__text {
    padding: 10px 20px;
}

a h3 {
    margin-bottom: 10px;
}
.stars__container {
    display: flex;
    margin-top: 10px;
}

.blue-star {
    color: #0065FC;
}

.grey-star {
    color: #dddddd;
}

.view_more {
    margin-top: 40px;
    font-size: large;
    font-weight: 900;
}

/*LES PLUS POPULAIRES*/

#right__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line {
    font-size: 25px;
    transition-property: transform;
    transition-duration: 400ms;
}

.fa-chart-line:hover {
    transform: scale(1.25);
}

.card-popular__container {
    display: flex;
    background: white;
    padding: 5px;
    border-radius: 25px;
    margin: 20px 0 20px 0;
    height: 180px;
    box-shadow: 5px 5px 5px #dddddd;
    transition-property: transform;
    transition-duration: 400ms;
}

.card-popular__container:hover {
    transform: scale(1.05);
}

.popular__figure {
    display: flex;
}

.popular__figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.popular__picture {
    object-fit: cover;
    border-radius: 25px 0 0 25px;
    width: 170px;
}

.card-popular__text {
    display: flex;
    flex-direction: column; 
}

/*ACTIVITES A MARSEILLE*/

#activity__container {
    margin-top: 50px;
    padding-bottom: 50px;
}

#activity-cards__container {
    display: flex;
    justify-content: space-between;
    height: 480px;
}

#activity__title {
    margin-bottom: 20px;
}

.one-picture {
    width: 22%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
}

.two-picture {
    width: 22%;
}

.activity__picture {
    width: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.activity__figure {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #dddddd;
    background-size: cover;
    background-position: center;
    transition-property: transform;
    transition-duration: 400ms;
}

.activity__figure:hover {
    transform: scale(1.05);
}

.activity__figcaption {
    background-color: white;
    height: 60px;
    border-radius: 0 0 25px 25px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.figure1 {
    background-image: url(images/activites/4_small/vieux-port.jpg);
    height: 100%;
}

.figure2 {
    background-image: url(images/activites/4_small/fort-de-pomegues.jpg);
    height: 53%;
    margin-bottom: 13%;
}

.figure3 {
    background-image: url(images/activites/4_small/iles-du-frioul.jpg);
    height: 37%;
}

.figure4 {
    background-image: url(images/activites/4_small/parc-national-des-calanques.jpg);
    height: 100%;
}

.figure5 {
    background-image: url(images/activites/4_small/notre-dame-de-la-garde.jpg);
    height: 43%;
    margin-bottom: 13%;
}

.figure6 {
    background-image: url(images/activites/4_small/parc-longchamp.jpg);
    height: 47%;
}

/*FOOTER*/

#footer__container {
    display: flex;
    max-width: none;
    background: #F2F2F2;
    padding: 50px 0 50px 5%;
}

.footer__item {
    display: flex;
    flex-direction: column;
    flex: 20%;
}

.footer__item h3 {
    margin-bottom: 20px;
}

.footer__item a {
    margin-bottom: 10px;
}

@media all and (max-width:768px) {
    
/* BODY */

    body {
        overflow-x: hidden;
    } 

    #body-marge {
        width: 100%;
        font-size: small;
    }

/* HEADER */

    .logo__container {
        margin-left: 15px;
    }

    .sign_up {
        position: absolute;
        top: 17px;
        right: 15px;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        width: 100%;
        padding: 2em 0 1em 0;
    }

    .navbar li {
        width: 50%; 
    }

    .navbar li a {
        padding: 0 0 15px 0;
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: #F2F2F2 2px solid;
    }

    .navbar li a:hover {
        width: 100%;
        border-top: transparent;
        border-bottom: #0065FC 2px solid;
        color: #0065FC;
    }

/* TITRE */

    .margin15 {
        margin: 0 15px 0 15px;
    }

/*BARRE DE RECHERCHE*/

    #form {
        justify-content: center;
    }

    .button-search {
        display: none;   
    }

    .button-loupe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }

    form p{
        width: 100%;
    }

/* FILTRES */

    #filters__container {
        margin-top: 15px;
    }

    #filters__title {
        width: 100%;
        margin-bottom: 6px;
    }

    .filters__button {
        margin: 6px 6px 6px 0;
    } 

/*SECTION DES HEBERGEMENTS (containers)*/

    #hosting__section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    #hosting__container--right {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 20px 0 20px 0;
    }

    #hosting__container--left {
        width: 100%;
        background-color: transparent;
        margin: 15px 0 0 0;
        padding: 20px 0 20px 0;
    }

/*TITRE ET CARDS DE LA SECTION HEBERGEMENTS A MARSEILLE*/

    #cards__container {
        flex-direction: column;
    }

    .card__container {
        width: 100%;
        padding: 0;
    }

    .view_more {
        margin-top: 15px;
    }

/*LES PLUS POPULAIRES*/

    #right__title {
        margin: 15px;
    }

    .card-popular__container {
        margin: 15px;
    }

/* ACTIVITES A MARSEILLE */

    #activity__container {
        padding: 0 0 15px 0;
        margin-top: 15px;
    }

    #activity-cards__container {
        display: block;
        height: auto;
    }
    #activity-cards__container {
        display: block;
    }
    .block-picture {
        width: 100%!important;
    }
    .activity__figure {
        display: flex;
        height: 250px!important;
        margin: 0 0 40px 0!important;
    }

/* FOOTER */

    #footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__item {
        padding: 10px;
    }   
}


@media all and (max-width:280px) {
    .popular__figure {
        display: flex;
        flex-direction: column;
    }

    .popular__picture {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 50%;
    }

    .popular__figcaption {
        justify-content: flex-start;
        padding: 15px;
    }

    .card-popular__text {
        font-size: x-small ;
    }
}